/* Estilos para el portfolio*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
    
}
section{
    padding: 10px 100px 10px 100px;
    
}   
nav{
    position: fixed;
    width: 100%;
    background-color: #222;
    border-bottom: 1px solid #FFC900;
    padding-top: 10px;
    text-align: center;

}
nav ul{
    
    display: inline-block;
}
nav ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}
i:hover{
    color:#FFC900;
}
a:any-link{
    color: white;
}
a:-moz-any-link{
    
    color: white;
    
}
a:-webkit-any-link{
    color: white;
}
ul{
    list-style: none;
   
}
li{
    float: left;
    margin-right:5px;
    /* padding: 10px; */

}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
i{
    color: #ffffff;
    font-size: 24px;
}
p{
    text-align: justify;
}
h2{
    font-size: 36px;
}
a{
    text-decoration: none;
   
} 
a:hover {
        color: #FFC900;
    }


/* CSS id's y clases */
#inicio{
    background-image: url(../images/inicio.png);
    min-height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 125px;
    
}
#sociales{
    
    margin-top: 30px;
    
}
.seccion{
    padding: 10px 100px 10px 100px;    
}
.hashtag{
    color: #FFC900;
}
#skills{
    background-color: white;
    color: #222;
    
}
#portfolio{

    border-top: 1px solid #FFC900;
}
#logo{
    padding-top: 0px;
}

.masinfo button{
    background-color: #FFC900;
    border: none;
    padding: 5px 15px 5px 15px;
    float :right;
    border-radius: 10px;
    
}
#Contactar{
    background-color: #FFC900;
    color: rgb(0, 0, 0);
}

/* Grid Sobre mi */
#sobre-mi{
    display: grid;
    grid-template-columns: 250px 1fr;
    
}
#imgsobremi img{
    border-radius: 10px;
}
#sobre-mi .masinfo{
    margin-top: 35px;
}
#sobre-mi .masinfo button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
}
#skills h3{
    margin-bottom: 15px;
}


/* Card portfolio */
.filaportfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card{
    width: 250px;
    background-color: #333;
    border-radius: 15px;
    
}
.card img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.card h3{
    color: #FFC900;
    
}
.card h4 {
    margin: 0 5px 5px 0;
}
.card h3, .card h4, .card .masinfo, .card p{
    padding: 0 15px;
}
.card .masinfo{
    margin: 15px 0 15px 0;
    height: 26px;


}

.card .masinfo button{
    background-color: #FFC900;
    border: none;
    padding: 0 15px 0 15px;
    float :right;
    border-radius: 10px;
    
}
.card .sep{ 
    margin: 0 5px 5px 0;
    border: 1px solid #FFC900;

}
.card button{
    padding:5px;
    margin-top: 5px;
}

/* Card experiencia */

.gridexp{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-around;
}

.cardexp{
    background-color: #757575;
    border-radius: 15px;
    color:white;
    padding: 10px 15px;
}
.cardexp h2{
    margin-bottom: 5px;
}
.cardexp h3{
    margin-bottom: 20px;
}
.cardexp p{
    margin-bottom: 20px;
}
.cardexp ul{
    display: flex;
    justify-content: flex-end;
}
.cardexp li{
     height: 30px;
}
/* Formulario contacto */
.itemform{
    display: grid;
    grid-template-columns: 150px 350px;
    margin-bottom: 15px;
    justify-content: center;
}
.itemform label{
    font-weight: 700;
}
.itemform input, .itemform textarea{
  
    border-radius: 5px;
    border: 1px solid #333;
}
input[type="submit"]{
    background-color: black; 
    color: white;
    padding: 10px;
    grid-column: 2 / 3;
    justify-self: end;
}